---
import { ProductList } from '@/components';
import Pagination from '@/components/shared/Pagination.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import '@/styles/global.css';
import {actions} from 'astro:actions';
// de la linea 6 a la 10 se genera el errror
const {data, error} = await Astro.callAction(actions.getProductsByPage, ({}) );

if (error){
  return Astro.redirect('/')
}

const { products, totalPages } = data;

---

<MainLayout>
  <h1 class="text-3xl">Listado de productos</h1>
  <ProductList products={ products } client:idle/>
  <Pagination totalPages={totalPages} />
</MainLayout>
